@model SortInfoModel

@{
    ViewData["Title"] = "TestTask 1";
}

<div class="container">
    <div class="fileForm">
        <label for="selectedFile">Выберите файл:</label>
        <input type="file" id="selectedFile" accept=".txt">
        <button onclick="readFile(selectedFile)">Загрузить файл</button>
    </div>

    <form class="sortForm" asp-controller="Home" asp-action="Sort" method="post" enctype="multipart/form-data">
        <input asp-for="Text" id="textInFile" type="hidden" value="@ViewData["Initial"]" />
        <label asp-for="SortType">Тип операции:</label>
        <select asp-for="SortType">
            <option value="asc" selected>Сортировка по возрастанию</option>
            <option value="desc">Сортировка по убыванию</option>
            <option value="reverse">Развернуть</option>
        </select>
        <input type="submit" value="Отсортировать" />
    </form>

    <div class="results">
        <p id="textContents">@ViewData["Initial"]</p>
        <p>@ViewData["Sorted"]</p>
    </div>
</div>